.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-size: 24px;
  font-weight: 500;
}

h6 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

::placeholder {
  color: #95a4cc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.btn-box {
  margin-top: 50px;
}

.main-btn {
  border: 2px solid #64ffda;
  color: #64ffda;
  padding: 14px 85px;
  border-radius: 5px;
  font-family: "Open Sans", "sans-serif";
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}

.main-btn:hover {
  background-color: rgba(186, 197, 225, 0.1);
  transition: 0.5s;
}

.secondary-btn {
  border: none;
  background-color: #0a192f;
  color: #64ffda;
  padding: 16px 100px;
  border-radius: 5px;
  font-family: "Open Sans", "sans-serif";
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
  transition: 0.5s;
}

.secondary-btn:hover {
  background-color: rgba(10, 25, 47, 0.74);
  transition: 0.5s;
  cursor: pointer;
}